version: '3.8'

services:
  mariadb:
    build:
      context: ./requirements/mariadb
      dockerfile: Dockerfile
    container_name: mariadb
    networks:
      - inception-net
    volumes:
      - mariadb-data:/var/lib/mysql
    restart: always
    secrets:
      - db_password
      - db_root_password
    env_file:
      - .env

  wordpress:
    build:
      context: ./requirements/wordpress
      dockerfile: Dockerfile
    container_name: wordpress
    networks:
      - inception-net
    volumes:
      - wordpress-data:/var/www/html
    restart: always
    depends_on:
      - mariadb
      - redis
    secrets:
      - db_password
      - admin_pass
      - user_pass
    env_file:
      - .env

  nginx:
    build:
      context: ./requirements/nginx
      dockerfile: Dockerfile
    container_name: nginx
    networks:
      - inception-net
    volumes:
      - wordpress-data:/var/www/html:ro
    ports:
      - "443:443"
    restart: always
    depends_on:
      - wordpress
    env_file:
      - .env

  adminer:
    build:
      context: ./requirements/bonus/adminer
      dockerfile: Dockerfile
    container_name: adminer
    networks:
      - inception-net
    ports:
      - "8080:8080"
    restart: always
    depends_on:
      - mariadb

  static-site:
    build:
      context: ./requirements/bonus/static-site
      dockerfile: Dockerfile
    container_name: static-site
    ports:
      - "8081:8081"
    restart: always

  redis:
    build:
      context: ./requirements/bonus/redis
      dockerfile: Dockerfile
    container_name: redis
    networks:
      - inception-net
    restart: always
    depends_on:
      - mariadb

  portainer:
    build:
      context: ./requirements/bonus/portainer
      dockerfile: Dockerfile
    container_name: portainer
    ports:
      - "9443:9443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always

  ftp:
    build:
      context: ./requirements/bonus/ftp
      dockerfile: Dockerfile
    container_name: ftp
    networks:
      - inception-net
    volumes:
      - wordpress-data:/var/www/html
    ports:
      - "21:21"
      - "21000-21010:21000-21010"
    restart: always
    depends_on:
      - wordpress
    secrets:
      - ftp_password
    env_file:
      - .env

volumes:
  mariadb-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/ssbaytri/data/mariadb

  wordpress-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/ssbaytri/data/wordpress

networks:
  inception-net:
    driver: bridge

secrets:
  db_password:
    file: ../secrets/db_password.txt
  db_root_password:
    file: ../secrets/db_root_password.txt
  admin_pass:
    file: ../secrets/admin_pass.txt
  user_pass:
    file: ../secrets/user_pass.txt
  ftp_password:
    file: ../secrets/ftp_password.txt